// COLOR VARIABLES
$red-primary: #c81818;

$background-light: #fff6f6;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: nunito-sans, sans-serif;

$golden-16: 1.6rem;
$golden-25: 2.59rem;
$golden-41: 4.189rem;
$golden-67: 6.78rem;

//Margins&padding

$margin-xs: 1.6rem;
$margin-s: 3.2rem;
$margin-m: 6.4rem;
$margin-l: 12.8rem;
$margin-xl: 19.6rem;
$margin-xxl: 22.6rem;

//TEXT

.paragraph {
  // font-size: $golden-16;
  font-size: clamp($golden-16, 2vw + 1rem, $golden-25);
  max-width: 80%;
  margin-inline: auto;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1.6rem;
  @media only screen and (min-width: 900px) {
    font-size: $golden-25;
    max-width: 100%;
  }
}

.heading-2 {
  position: relative;

  font-size: clamp($golden-41, 6.5vw + 1rem, $golden-67);
  // font-size: $golden-41;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;

  @media only screen and (min-width: 900px) {
    // font-size: $golden-67;
  }
}

.heading-2::before {
  // content: "";
  // height: 8px;
  // width: 100%;

  // z-index: -10;
  // background-color: $red-primary;
  // position: absolute;

  // bottom: -24px;
  // left: 0;
}

.heading-3 {
  // font-size: $golden-25;
  font-size: clamp($golden-25, 3.5vw + 1rem, $golden-41);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin-bottom: $margin-s;
  max-width: 90%;
  margin-inline: auto;

  @media only screen and (min-width: 900px) {
    // font-size: $golden-41;
    max-width: 100%;
  }
}

.heading-4 {
  font-size: $golden-41;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.red-box-highlight {
  // background-color: #c81818;
  // width: 10rem;
  // height: 10rem;
  // @media screen and (min-width: 900px) {
  //   width: 18rem;
  //   height: 18rem;
  // }
}

hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
  visibility: hidden;

  @media only screen and (min-width: 900px) {
    visibility: visible;
  }
}

//Utility classes

.content-wrapper {
  max-width: 1440px;
  width: 90%;
}

// RESPONSIVE BREAKPOINTS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: nunito-sans, sans-serif;
  min-height: 100vh;
}

.spacer {
  height: 52.78px;
}

.hidden {
  display:none; 
  
  
 }

 .visible{
   display: flex;
 }

 .noclick{
   pointer-events: none;
 }

 .click{
   pointer-events: all;
 }

 .opacity{
   opacity: 1;
 }
 .opacity{
  opacity: 0;
}


