@import "base";


.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 200;
  display: grid;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &__main-wrapper {
    display: flex;
    max-width: 1440px;
    margin-inline: auto;
    justify-content: space-between;
    width: 90%;
  }

  &__logo-svg {
    width: 160px;
    @media only screen and (min-width: 900px) {
      width: 180px;
    }
  }

  &__links-wrapper {
    position: fixed;
    top: calc(50% - 126px);
    left: calc(50% - 54.85px);
    flex-direction: column;
    display: flex;
    
    pointer-events: none;
   
    
    z-index: 1000;
    font-size: 3.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    text-align: center;

    @media only screen and (min-width: 900px) {
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
    position: relative;
    color: #000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    pointer-events:all;
    
    }
  }

  
  &__links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    @media only screen and (min-width: 900px) {
      
      flex-direction: row;
      }
    
  }
  &__list-item:not(:last-child) {
    margin-bottom: 2.4rem;
    position: relative;
    
    @media only screen and (min-width: 900px) {
      
      margin-right: 24px;
      margin-bottom: 0;
      }
    
  }

  &__list-item::after {
    // content: "";
    // position: absolute;
    // background-color: white;
    // width: 100%;
    // height: 2px;
    // bottom: 0;
    // left: 0;
    // transform: scaleX(0);
    // transition: transform 0.5s ease-in-out;
    // transform-origin: left;
    
   
 
     
   }

  &__list-item:hover::after {
  //  content: "";
  //  position: absolute;
  //  background-color: white;
  //  width: 100%;
  //  height: 2px;
  //  bottom: 0;
  //  left: 0;
  //  transform: scaleX(1);
   
  

    
  }
  
  

  &__link {
    text-decoration: none;
    color: white;
    z-index: 1110;
    opacity: 0;
    position: relative;
    // display: inline-block;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  
   
    
    
    
    @media only screen and (min-width: 900px) {
      
     color: black;
     opacity: 1;
      }
   
  }

  &__link::after{
    @media only screen and (min-width: 900px) {
      content: "";
      position: absolute;
       top: -50%;
       left: -12.5%; 
      background-color: $red-primary;
      width: 125%;
       height: 185%;
    

      transform: scaleY(0);
      transform-origin: top;
      z-index: -10;
      transition: transform 0.5s ease-in-out;
      
      
      
       }
  }

  

  &__link:hover{
    
    @media only screen and (min-width: 900px){
      color: white;
      
      
    }
  }

  &__link:hover::after{
    
    @media only screen and (min-width: 900px) {
     

      transform: scaleY(1);
      transform-origin: top;
   
     
      
      
       }
    
  }

 


  


 
  

 

  &__checkbox,
  &__checkbox-label,
  &__hamburger {
    display: none;

    
  }

  &__checkbox {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: center;
    z-index: 200;
  }

  &__checkbox-label {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: auto;
    margin-top: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    z-index: 500;
  }

  &__hamburger-wrapper{
    
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;

  }

  &__hamburger,
  &__hamburger::before,
  &__hamburger::after
  {
    display: block;
    
    background: black;
    height: 2px;
    width: 3em;
    border-radius: 2px;
    z-index: 1000;
    transition: transform 0.4s ease;
    

    @media only screen and (min-width: 900px){
      display: none;
    }
  }

  &__hamburger-1{
    position: absolute;
    transform: rotate(45deg);
  }

  &__hamburger-2{
    opacity: 0;
    
  }

  &__hamburger-3{
    position: absolute;
    transform: rotate(-45deg);
  }

  


  

  // &__hamburger::before {
  //   content: "";
  //   position: absolute;
  //   top: 1em;
  // }

  // &__hamburger::after {
  //   content: "";
  //   position: absolute;
  //   top: -1em;
  // }

  &__checkbox:checked + &__checkbox-label &__hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__checkbox-label &__hamburger::before {
    // top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__checkbox-label &__hamburger::after {
    // top: 0;
    transform: rotate(-45deg);
  }

  &__checkbox:checked ~ &__links-wrapper {
    
    
    
    display: flex;
    transform: translate(0, 0);
    
    
    
    
  }

  

  &__checkbox:checked ~ &__links-wrapper &__links-list &__link {
    
    
    
  }

  &__background {
    width: 100vw; 
    height: 100vh;
    z-index: 10;
    opacity: 0;
    background-color: $red-primary;
    position: absolute;
    top: 0;
    left: 0;
    
    transform: translate(-100vw, 0vh);
    //  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    // transform: scale(0);
    transform-origin: left;
    
    // height: 2000px;
    // width: 120vw;
    // right: -5vw;
    // top: -5vw;
    // background-color: #c81818;
    // position: absolute;

    // z-index: 10;
   
  }

  &__background--visible {

    transform: translate(0, 0);
    opacity: 1;
    
    
  }

  &__background--invisible {

    transform: translate(-100vw, 0vh);
    animation: back-out 2s;
    opacity: 0;
    
    
  }

 
}


@keyframes links-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes links-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes back-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity:0.95;
  }

  99%{
    opacity: 0.90
  }

  100% {
    opacity: 0;
  }
}