@import "base";

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 60px 60px;
  justify-content: space-between;
  max-width: 1440px;
  width: 90%;
  padding-top: 1.6rem;
  background-color: white;
  z-index: 100;

  &__logo-svg {
    width: 160px;
    @media only screen and (min-width: 900px) {
      width: 180px;
    }
  }

  &__links-wrapper {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;

    visibility: hidden;
    position: relative;
    font-size: 3.2rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    display: flex;
    z-index: 100;

    @media only screen and (min-width: 900px) {
      visibility: visible;
    }
  }
  &__links-list {
    list-style: none;
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 24px;
  }
  &__link {
    text-decoration: none;
    color: #000;
    transition: all 0.7s ease;
  }

  &__checkbox,
  &__checkbox-label,
  &__hamburger {
    visibility: hidden;
    opacity: 0;
  }

  &__checkbox {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: center;
    z-index: 200;
  }

  &__checkbox-label {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: auto;
    margin-top: auto;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 500;
  }

  &__hamburger,
  &__hamburger::before,
  &__hamburger::after {
    display: block;
    background: black;
    height: 3px;
    width: 3em;
    border-radius: 2px;
    position: relative;
    transition: transform 0.4s ease;
  }

  &__hamburger::before {
    content: "";
    position: absolute;
    top: 1em;
  }

  &__hamburger::after {
    content: "";
    position: absolute;
    top: -1em;
  }

  &__checkbox:checked + &__checkbox-label &__hamburger {
    background-color: transparent;
  }

  &__checkbox:checked + &__checkbox-label &__hamburger::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__checkbox-label &__hamburger::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &__checkbox:checked ~ &__links-wrapper {
    opacity: 1;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(1);
  }

  &__checkbox:checked ~ &__links-wrapper &__links-list &__link {
    opacity: 1;
    visibility: visible;
  }

  &__background {
    height: 2000px;
    width: 100vw;
    right: -5vw;
    background-color: #c81818;
    position: absolute;

    z-index: 10;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transform: scale(0);
    transform-origin: top right;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    &__checkbox-label,
    &__hamburger {
      visibility: visible;
      opacity: 1;
    }

    &__links-wrapper {
      text-align: center;

      position: fixed;
      top: 30%;
      right: 50%;
      transform: translateY(50%);
      transform: translateX(50%);
    }

    &__links-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      justify-items: center;
    }

    &__list-item:not(:last-child) {
      margin-bottom: 3.2rem;
      margin-right: 0rem;
    }

    &__link {
      text-decoration: none;
      color: white;
      font-size: $golden-41;
      opacity: 0;
      visibility: hidden;
    }
  }
}
