@import "base";

.hero {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    height: 100vh;
    margin: 0 auto;
  }

  &__textwrapper {
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__boxwrapper {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
  }

  &__box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
  }
  &__circle-main {
    width: 140px;
    height: 140px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 20;
  }

  &__red-rectangle {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 320px;
    height: 320px;
    background-color: $red-primary;
    z-index: 10;
  }

  &__black-rectangle {
    position: relative;
    top: 20px;
    right: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 320px;
    height: 320px;
    background-color: black;
  }

  &__heading {
    font-size: $golden-67;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: #070101;
  }

  &__sub-heading {
    font-size: $golden-25;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;

    letter-spacing: normal;
    color: #070101;
    width: 85%;
    margin-top: 32px;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    &__content {
      grid-template-columns: 1fr;
    }

    &__textwrapper {
      grid-column: 1/2;
      text-align: center;
    }

    &__boxwrapper {
      grid-column: 1/2;
    }
  }
}
@media only screen and (max-width: 900px) {
  .hero {
    text-align: center;
    &__sub-heading {
      font-size: 0.987rem;
    }

    &__red-rectangle {
      width: 160px;
      height: 160px;
    }

    &__black-rectangle {
      width: 160px;
      height: 160px;
    }

    &__circle-main {
      width: 70px;
      height: 70px;
    }
  }
}
