@import "base";

.hero {

  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 52.78px);
    margin: 0 auto;
    text-align: center;
   
    
    

    @media screen and (min-width: 900px) {
      display: grid;
      grid-template-columns: 7fr 5fr;
      column-gap: 20px;
      min-height: calc(100vh - 52.78px);
      margin: 0 auto;
      text-align: left;
    }
  }

  &__textwrapper {
    grid-column: 1/2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    @media only screen and (min-width: 900px) {
      align-items: flex-start;
    }
  }

  &__boxwrapper {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
   
    
  }

  &__box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    
  }
  &__circle-main {
    width: 70px;
    height: 70px;

    width: clamp(7rem, 14.5vw + 1rem, 14rem);
    height: clamp(7rem, 14.5vw + 1rem, 14rem);

    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 20;

    @media screen and (min-width: 900px) {
      // width: 140px;
      // height: 140px;
    }
  }

  &__red-rectangle {
    grid-column: 1/2;
    grid-row: 1/2;

    width: clamp(18rem, 34vw + 1rem, 32rem);
    height: clamp(18rem, 34vw + 1rem, 32rem);

    // width: 180px;
    // height: 180px;

    background-color: $red-primary;
    z-index: 10;

    @media screen and (min-width: 900px) {
      // width: 320px;
      // height: 320px;
    }
  }

  &__black-rectangle {
    position: relative;
    top: 10px;
    right: 10px;
    width: clamp(18rem, 34vw + 1rem, 32rem);
    height: clamp(18rem, 34vw + 1rem, 32rem);
    
    grid-column: 1/2;
    grid-row: 1/2;

       
    
    background-color: black;
    // z-index: -100;
    @media screen and (min-width: 900px) {
      // width: 320px;
      // height: 320px;
      top: 20px;
      right: 20px;
    }
  }

  &__heading {
    font-size: clamp($golden-41, 7vw + 1rem, $golden-67);
    // font-size: $golden-41;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    // color: #070101;
    color: black;
    max-width: 70%;
    
    

    @media only screen and (min-width: 900px) {
      // font-size: $golden-67;
      max-width: 100%;
    }
  }

  &__sub-heading {
    font-size: clamp($golden-16, 0.2vw + 1rem, $golden-25);
    font-size: $golden-16;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    max-width: 70%;
    letter-spacing: normal;
    color: #070101;
    width: 85%;
    // margin-top: 32px;
    margin-top: 1em;
    margin-bottom: 4em;

    @media screen and (min-width: 650px) {
      max-width: 60%;
    }

    @media screen and (min-width: 900px) {
      font-size: $golden-25;
      margin-top: 1em;
      margin-bottom: 0;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero {

  
    
    &__content {
      grid-template-columns: 1fr;
    
    }

    &__textwrapper {
      grid-column: 1/2;
      text-align: center;
    }

    &__boxwrapper {
      grid-column: 1/2;
    }
  }
}
@media only screen and (max-width: 900px) {
  .hero {
    text-align: center;

    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
}
