@use "base";
@import "base";

.how {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-bottom: $margin-l;

  @media only screen and (min-width: 900px) {
    margin-bottom: $margin-xl;
  }

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: $margin-m;

    @media only screen and (min-width: 900px) {
      margin-bottom: $margin-l;
    }
  }

  &__heading-2 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 10;
  }

  &__heading-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: -2.4rem;
    width: 4px;
    height: 100%;
    background-color: #c91818;
  }

  &__red-box-highlight {
    position: relative;
    left: -25vh;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.card-nav-wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 4rem;
  gap: 2rem;
}

.how-section-1 {
  width: 100%;
  display: grid;
  place-items: center;

  &__content-wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  &__card-wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
  }

  &__text-wrapper {
    grid-column: 1/2;
    width: 100%;
  }

  &__text-wrapper-sub-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-bottom: 24px;
    width: 100%;
  }
  &__text-wrapper-sub-2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  &__text-wrapper-sub-3 {
  }

  &__diagram-wrapper {
    place-self: center;
    grid-column: 2/3;
  }

  &__red-line {
    height: 2px;
    background-color: #c91818;
    border: none;
    width: 100%;
  }

  &__heading-3 {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;

    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    padding-bottom: 16px;
  }
}

.card {
  display: grid;

  grid-template-rows: 40px max-content max-content;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;

  border-radius: 26px;
  border-radius: 26px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $background-light;

  @media only screen and (min-width: 400px) {
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  }

  @media only screen and (min-width: 900px) {
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  }

  &__title-wrapper {
    // max-width: 40ch;

    max-width: clamp(40ch, 8vw + 1rem, 58ch);

    @media only screen and (min-width: 900px) {
      max-width: 58ch;
      margin-bottom: 1.6rem;
    }
  }

  &__title {
    margin-bottom: 1.6rem;

    font-size: $golden-25;

    @media only screen and (min-width: 400px) {
      // font-size: clamp($golden-25, 4vw + 1rem, $golden-41);
    }

    @media only screen and (min-width: 900px) {
      // font-size: $golden-41;
      margin-bottom: 8px;
    }
  }

  &__content-wrapper {
    // max-width: 35ch;
    max-width: clamp(35ch, 30vw + 1ch, 58ch);
    @media only screen and (min-width: 900px) {
      max-width: 40ch;
    }
  }

  &__line {
    width: 100%;
    border-top: 1px #726e6e solid;
    border-bottom-style: none;

    &--active {
      border-top: 1px white solid;
    }
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__icon {
    width: 4rem;
    position: relative;
    // left: 1.2rem;
    // top: rem;
    // left: 2rem;

    @media only screen and (min-width: 600px) {
      width: 4.5rem;
      // top: -1.6rem;
      // left: 1.6rem;
    }
  }

  &__paragraph {
    font-size: $golden-16;

    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 1.6rem;

    // @media only screen and (min-width: 400px) {
    //   // font-size: clamp($golden-16, 1vw + 1rem, $golden-25);
    // }
    // @media only screen and (min-width: 900px) {
    //   font-size: $golden-25;
    // }
  }

  &__card-1--active {
    background-color: $red-primary;
    color: white;
  }

  &__card-1 {
    z-index: 4;
  }

  &__card-1:active ~ .card {
    z-index: 4;
    transform: translate(10px, 10px);
  }

  &__card-2 {
    z-index: 3;
  }

  &__card-2:focus ~ .card {
    z-index: 3;
  }

  &__card-3 {
    z-index: 2;
  }

  &__card-3:focus {
    z-index: 2;
    transform: translate(10px, 10px);
  }

  &__card-4 {
    z-index: 1;
  }
}

.card:not(:first-child) {
  margin-left: -200px;

  @media only screen and (min-width: 900px) {
    margin-left: -220px;
  }
}
