.paragraph {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.heading-2 {
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
}

.heading-3 {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.red-box-highlight {
  background-color: #c81818;
  width: 180px;
  height: 180px;
}

hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: nunito-sans, sans-serif;
  min-height: 100vh;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}
.header__links-wrapper {
  font-size: 3.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  display: flex;
}
.header__links-list {
  list-style: none;
  display: flex;
}
.header__list-item:not(:last-child) {
  margin-right: 24px;
}
.header__link {
  text-decoration: none;
  color: #000;
}

.paragraph {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.heading-2 {
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
}

.heading-3 {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.red-box-highlight {
  background-color: #c81818;
  width: 180px;
  height: 180px;
}

hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: nunito-sans, sans-serif;
  min-height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  height: calc(100vh - 60px);
}
.hero__textwrapper {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__boxwrapper {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
}
.hero__box {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
.hero__circle-main {
  width: 140px;
  height: 140px;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 20;
}
.hero__red-rectangle {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  height: 320px;
  background-color: #c81818;
  z-index: 10;
}
.hero__black-rectangle {
  position: relative;
  top: 20px;
  right: 20px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  height: 320px;
  background-color: black;
}
.hero__heading {
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: #070101;
}
.hero__sub-heading {
  font-size: 2.59rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #070101;
  width: 85%;
  margin-top: 32px;
}

.paragraph {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.heading-2 {
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
}

.heading-3 {
  font-size: 4.189rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.red-box-highlight {
  background-color: #c81818;
  width: 180px;
  height: 180px;
}

hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: nunito-sans, sans-serif;
  min-height: 100vh;
}

/* main container + header */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 500px;
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Hero section  */
/* What section  */
.what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.what__intro {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.what__heading-2 {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 10;
}
.what__red-box-highlight {
  position: relative;
  left: -25vh;
  grid-column: 1/3;
  grid-row: 1/2;
}

.what-section-1 {
  width: 100%;
  position: relative;
}
.what-section-1__content-wrapper {
  display: grid;
  position: relative;
  clip-path: polygon(80 20 0 100 100 0 20 80);
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;
  padding-top: 240px;
  padding-bottom: 140px;
  max-width: 1440px;
}
.what-section-1__computer {
  width: 100%;
}
.what-section-1__text-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
}

.what-section-1::after {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff6f6;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
}

.what-section-2 {
  margin-top: 420px;
  display: grid;
  column-gap: 20px;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.what-section-2__text-wrapper {
  display: flex;
  flex-direction: row;
}
.what-section-2__text-wrapper-sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
.what-section-2__paragraph {
  padding-right: 54px;
}

.img-wrapper {
  display: grid;
  grid: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: auto;
  height: auto;
  position: relative;
  bottom: 88px;
}
.img-wrapper__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img-wrapper__img {
  width: 100%;
}
.img-wrapper__img--col-1 {
  position: relative;
  top: 0;
}
.img-wrapper__img--col-2 {
  position: relative;
  bottom: 82px;
}
.img-wrapper__img--col-3 {
  position: relative;
  bottom: 164px;
}

.what-section-3 {
  width: 100%;
  position: relative;
  margin-top: 400px;
}
.what-section-3__content-wrapper {
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;
  padding-top: 240px;
  padding-bottom: 600px;
  width: 100%;
}
.what-section-3__phone {
  position: relative;
  top: -500px;
}
.what-section-3__text-wrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.what-section-3__text-wrapper-sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.what-section-3::after {
  position: absolute;
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff6f6;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
}

.what-section-4 {
  position: relative;
  margin-top: 164px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;
  padding-top: 240px;
  width: 100%;
}
.what-section-4__rectangle-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 80%;
}
.what-section-4__rectangle {
  width: 260px;
  height: 260px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.what-section-4__rectangle--red {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c91818;
  z-index: 10;
}
.what-section-4__rectangle--black {
  background-color: black;
  z-index: 5;
}
.what-section-4__rectangle--white {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-color: gray;
  z-index: 1;
}
.what-section-4__text-wrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.what-section-4__text-wrapper-sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.what-section-5 {
  position: relative;
  margin-top: 164px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 240px;
  width: 100%;
}
.what-section-5__text-wrapper {
  width: 75%;
}
.what-section-5__img-wrapper {
  justify-self: end;
  align-self: center;
}

/* HOW SECTION */
.how {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.how__intro {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.how__heading-2 {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 10;
}
.how__red-box-highlight {
  position: relative;
  left: -25vh;
  grid-column: 1/3;
  grid-row: 1/2;
}

.how-section-1 {
  position: relative;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 240px;
  padding-bottom: 600px;
  width: 100%;
}
.how-section-1__text-wrapper {
  grid-column: 1/2;
  width: 100%;
}
.how-section-1__text-wrapper-sub-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 24px;
  width: 100%;
}
.how-section-1__text-wrapper-sub-2 {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.how-section-1__diagram-wrapper {
  place-self: center;
  grid-column: 2/3;
}
.how-section-1__red-line {
  height: 2px;
  background-color: #c91818;
  border: none;
  width: 100%;
}
.how-section-1__heading-3 {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 16px;
}

/* PROJECTS SECTION */
.projects {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.projects__intro {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.projects__red-box-highlight {
  position: relative;
  left: -40vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
}
.projects__heading-2 {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 10;
}

.projects-section-1 {
  width: 100%;
  position: relative;
}
.projects-section-1__content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects-section-1__flex-wrapper-1 {
  display: flex;
  height: 100%;
}
.projects-section-1__flex-wrapper-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 42px;
}
.projects-section-1__phone {
  width: 82.5%;
}
.projects-section-1__red-line {
  height: 75%;
}
.projects-section-1__button {
  position: relative;
}

.projects-section-1::after {
  position: absolute;
  content: "";
  background-color: #fff6f6;
  z-index: -10;
  height: 70%;
  top: 55%;
  width: 100%;
  clip-path: polygon(0 40%, 100% 0%, 100% 60%, 0% 100%);
}

.button {
  font-weight: 100;
  border-style: none;
  margin-left: 16px;
  width: 270px;
  height: 100px;
  background-image: linear-gradient(to bottom, #000, #000d30);
}
.button__link {
  font-size: 4.189rem;
  font-weight: 100;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.button::after {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: -1;
  width: 270px;
  height: 100px;
  top: 16px;
  right: 16px;
  border: solid 1px #979797;
}

/* Footer */
.footer {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* CONTACT */
.contact {
  display: grid;
  margin-top: 320px;
  grid-template-columns: 1fr;
  place-items: center;
}
.contact__intro {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.contact__heading-2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}
.contact__red-box-highlight {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  left: -25vh;
}

.contact-section-1 {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-top: 128px;
  z-index: 30;
}

.contact-section-2 {
  position: relative;
  display: grid;
  margin-top: 110px;
  z-index: 10;
  grid-template-columns: 3fr 9fr;
  background-color: #c81818;
}
.contact-section-2__heading-2 {
  padding: 260px 100px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: white;
}

.contact-section-2::after {
  position: absolute;
  content: "";
  background-color: #c81818;
  z-index: -20;
  height: 100%;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.contact-section-2__button {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 270px;
  height: 100px;
  background-image: linear-gradient(to bottom, #000, #000d30);
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  font-weight: 100;
  border-style: none;
}
.contact-section-2__button__link {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.contact-section-2__button::after {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -10;
  width: 270px;
  height: 100px;
  top: 16px;
  right: 16px;
}

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  background-color: #c81818;
}
.footer__list-wrapper {
  width: 60vw;
}
.footer__list {
  display: flex;
  flex-direction: row;
  font-size: 2.59rem;
  justify-content: space-between;
  color: white;
}
.footer__list-item {
  list-style: none;
}
.footer__list-item:not(last-child) {
  padding-right: 32px;
}
.footer__icons-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.footer__paragraph {
  font-size: 2.59rem;
  color: white;
}
.footer__icons-wrapper-sub {
  display: flex;
  padding-top: 32px;
  width: 200%;
  flex-direction: row;
  justify-content: space-between;
}

.footer::after {
  position: absolute;
  content: "";
  background-color: #c81818;
  z-index: -20;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
