@use "base";
@use "header";
@use "hero";
@use "what";
@use "how";

@import "base";

/* main container + header */

.spacer {
  height: 68px;
}

.container {
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
}

/* Hero section  */

/* What section  */

/* HOW SECTION */

/* PROJECTS SECTION */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  margin-bottom: $margin-l;

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: $margin-m;
  }

  &__red-box-highlight {
    position: relative;
    left: -20vh;
    top: -8%;
    width: 10rem;
    height: 12rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  &__heading-2 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 10;
  }
}

.projects-section-1 {
  width: 100%;
  position: relative;
  text-align: center;

  &__content-wrapper {
    position: relative;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  &__flex-wrapper-1 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__flex-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-left: 42px;
  }

  &__phone {
    width: 82.5%;
    justify-self: end;
    margin-bottom: $margin-s;
    margin-inline: auto;
  }

  &__paragraph {
    margin-bottom: $margin-s;
  }

  &__red-line {
    height: 75%;
  }

  &__button {
    position: relative;
  }
}

.projects-section-1::after {
  position: absolute;

  content: "";
  background-color: #fff6f6;
  z-index: -10;

  height: 75%;
  left: 0;
  top: 40%;
  width: 100%;

  // clip-path: polygon(0 40%, 100% 0%, 100% 60%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}

.button {
  font-weight: 100;
  border-style: none;
  margin-left: 16px;
  width: 14rem;
  height: 6rem;
  // width: 270px;
  // height: 100px;
  background-image: linear-gradient(to bottom, #000, #000d30);
  margin: 0 auto;

  &__link {
    font-size: $golden-25;
    font-weight: 100;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
  }
}

.button::after {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: -1;

  width: 14rem;
  height: 6rem;
  top: 8px;
  right: 8px;
  border: solid 1px #979797;
}

/* Footer */

.footer {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* CONTACT */

.contact {
  display: grid;

  // margin-top: 320px;

  grid-template-columns: 1fr;
  place-items: center;

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: $margin-m;
  }
  &__heading-2 {
    grid-column: 1/3;
    grid-row: 1/2;

    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: black;
    z-index: 10;
  }

  &__red-box-highlight {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    left: -25vh;
  }
}

.contact-section-1 {
  width: 100%;

  &__content-wrapper {
    display: grid;
    // grid-template-columns: 5fr 7fr;
    margin: 0 auto;
    z-index: 30;
    // margin-bottom: -3rem;
    place-items: center;
  }
  &__img-left {
    max-width: 100%;

    display: none; //hide on mobile
  }
  &__img-right {
    max-width: 100%;
    z-index: 20;
  }
}
.contact-section-2 {
  background-color: #c81818;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  padding-top: 8rem;
  margin-bottom: -1px; // white line bug fix

  &__contact-svg {
    justify-self: start;
    align-self: center;
    width: 90%;
    display: none; //deleting item on mobile screen
  }

  &__content-wrapper {
    position: relative;
    display: grid;
    // margin-top: 110px;
    z-index: 10;
    // grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  &__heading-2 {
    padding: 160px 0;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: white;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-self: center;
  align-self: center;
  padding-top: 14rem;
  padding-bottom: 14rem;

  &__heading {
    margin-bottom: 3.6rem;
  }

  &__label {
    visibility: hidden;
    font-size: 0;
  }

  &__input::placeholder {
    color: white;
    font-size: $golden-25;
    font-weight: 100;
    font-family: $font-primary;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white solid 2px;
    background-color: $red-primary;
    margin-bottom: 3.6rem;
    color: white;
    font-size: $golden-25;
    font-weight: 100;
    font-family: $font-primary;
  }

  &__input:focus {
    outline: none;
  }

  &__button {
    font-weight: 100;
    border-style: none;
    margin-top: 42px;
    width: 20rem;
    height: 6rem;
    background-color: $red-primary;
    position: relative;
    border: solid 2px #000;
    background-color: #c81818;
    font-size: $font-primary;
    font-size: $golden-25;
    color: white;
    font-weight: 100;
    margin: 0 auto;
  }

  &__button::after {
    content: "";
    position: absolute;
    background-color: #0f161a;
    z-index: -1;

    width: 20rem;
    height: 6rem;
    top: 2px;
    right: 2px;
    border: none;
  }

  &__heading {
    color: white;
    font-weight: 200;
  }
}

//Footer

.footer {
  width: 100vw;
  background-color: $red-primary;
  overflow-x: hidden;

  &__content-wrapper {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // padding: 6rem 8rem;
    // background-color: $red-primary;
    // justify-items: center;
    // align-items: center;
    // margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
  }

  &__list-wrapper {
    width: 100%;
    margin-bottom: $margin-s;
  }

  &__list {
    display: flex;
    flex-direction: row;

    font-size: $golden-25;
    gap: 4.2rem;
    color: white;
  }
  &__list-item {
    list-style: none;
    width: max-content;
  }
  &__list-item:not(:last-child) {
  }

  &__icons-wrapper {
    display: flex;
    flex-direction: row;
    // align-self: center;
    justify-content: center;
    margin-bottom: $margin-s;
  }

  &__paragraph {
    font-size: $golden-25;
    color: white;
  }

  &__icons-wrapper-sub {
    display: flex;
    flex-direction: row;
  }

  &__icon:not(:last-child) {
    margin-right: 3.2rem;
  }
}

.footer::after {
  // position: absolute;

  // content: "";

  // background-color: #c81818;

  // z-index: -20;

  // width: 100%;
}

//Media Queries
