html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  max-width: 1440px;

  grid-template-rows: 60px 1fr auto;
  margin: 0 auto;
}

.header {
  padding-top: 34px;

  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 82px;
  margin-right: 82px;
}
.logowrapper {
  grid-column: 1/3;
}
.header-links {
  grid-column: 9/-1;
  font-family: nunito-sans, sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;

  height: 100%;

  display: flex;
  align-items: center;
}
.header ul {
  list-style: none;
  display: flex;
}

.header li:not(:last-child) {
  margin-right: 5vw;
}

.header a {
  text-decoration: none;
  color: #000;
}

.content {
}
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  height: calc(100vh - 60px);
  margin-left: 82px;
  margin-right: 82px;
}

.textwrapper {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxwrapper {
  grid-column: 8/13;
  display: flex;
  justify-content: flex-end;
}
.box {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.circle-main {
  width: 140px;
  height: 140px;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 20;
}
.red-rectangle {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  height: 320px;
  background-color: #c81818;
  z-index: 10;
}

.black-rectangle {
  position: relative;
  top: 20px;
  right: 20px;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  height: 320px;
  background-color: black;
}
.textwrapper h1 {
  font-family: nunito-sans, sans-serif;
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: #070101;
}

.textwrapper p {
  font-family: nunito-sans, sans-serif;
  font-size: 2.59rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #070101;
  width: 85%;
  margin-top: 32px;
}

.what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.sub-section-what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-left: 82px;
  margin-right: 82px;
}

.what h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: nunito-sans, sans-serif;
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}

.red-highlight {
  position: relative;
  left: -25vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #c81818;
}

.sub-section-wrapper-1 {
  margin-top: 164px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;
  background-color: rgba(255, 246, 246, 0.68);
  padding-top: 240px;
  padding-bottom: 140px;
  padding-left: 82px;
  padding-right: 82px;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);

  width: 100%;
}
.computer {
  width: 100%;
}
.wrapper1-text_box {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
}

.sub-section-wrapper-1 h2 {
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-1 p {
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-2 {
  margin-top: 256px;
  display: grid;
  column-gap: 20px;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-left: 82px;
  margin-right: 82px;
}

.wrapper2-text_box {
  display: flex;
  flex-direction: row;
}

.wrapper2-text_box--sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.wrapper2-text_box h2 {
  display: flex;
  flex-direction: column;
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 32px;
}

.wrapper2-text_box p {
  display: flex;
  flex-direction: column;
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-right: 54px;
}

.images-section {
  display: grid;
  grid: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: auto;
  height: auto;
}

.img-grid {
  width: 100%;
  height: 100%;
}

.img-col-1 {
  position: relative;
  top: 0;
}

.img-col-2 {
  position: relative;
  bottom: 82px;
}

.img-col-3 {
  position: relative;
  bottom: 164px;
}
hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
}
