@use "base";
@use "header";
@use "hero";
@import "base";

/* main container + header */

.container {
  display: grid;
  grid-template-columns: 82px 1fr 82px;
  grid-template-rows: 60px 1fr 500px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Hero section  */

/* What section  */

.what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.sub-section-what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.what h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: nunito-sans, sans-serif;
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}

.red-highlight {
  position: relative;
  left: -25vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #c81818;
}

/* Sub section 1  */

.sub-section-wrapper-1 {
  position: relative;
  margin-top: 164px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;

  padding-top: 240px;
  padding-bottom: 140px;

  width: 100%;
}

.sub-section-wrapper-1::after {
  position: absolute;

  content: "";
  background-color: #fff6f6;
  z-index: -10;

  height: 120%;

  top: -50px;

  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
}

.computer {
  width: 100%;
}
.wrapper1-text_box {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
}

.sub-section-wrapper-1 h2 {
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-1 p {
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

/* Sub section 2  */

.sub-section-wrapper-2 {
  margin-top: 420px;
  display: grid;
  column-gap: 20px;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.wrapper2-text_box {
  display: flex;
  flex-direction: row;
}

.wrapper2-text_box--sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.wrapper2-text_box h2 {
  display: flex;
  flex-direction: column;
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 32px;
}

.wrapper2-text_box p {
  display: flex;
  flex-direction: column;
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-right: 54px;
}

/* img section   */

.images-section {
  display: grid;
  grid: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: auto;
  height: auto;
  position: relative;
  bottom: 88px;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-grid {
  width: 100%;
}

.img-col-1 {
  position: relative;
  top: 0;
}

.img-col-2 {
  position: relative;
  bottom: 82px;
}

.img-col-3 {
  position: relative;
  bottom: 164px;
}
hr {
  width: 6px;
  background-color: #c91818;
  height: auto;
}

/* Sub section 3   */

.sub-section-wrapper-3 {
  position: relative;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;

  padding-top: 240px;
  padding-bottom: 600px;

  width: 100%;
}

.sub-section-wrapper-3::after {
  position: absolute;

  content: "";
  background-color: #fff6f6;
  z-index: -10;

  height: 70%;

  top: -50px;

  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
}

.phone {
  position: relative;
  top: -500px;
}
.background {
  position: absolute;
  z-index: -10;
  padding-bottom: 300px;
  width: 100%;
}
.wrapper3-text_box {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.sub-section-wrapper-3 h2 {
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-3 p {
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.wrapper3-text_box--sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

/* Sub section 4   */

.sub-section-wrapper-4 {
  position: relative;
  margin-top: 164px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 20px;

  padding-top: 240px;
  width: 100%;
}

.wrapper4-text_box {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.wrapper4-text_box--sub {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.sub-section-wrapper-4 h2 {
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  padding-bottom: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-4 p {
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  padding-bottom: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.wrapper4-rectangle_box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 80%;
}

.rectangle-red--small {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
  background-color: #c91818;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 10;
}
.rectangle-black--small {
  width: 260px;
  height: 260px;
  background-color: black;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 5;
}
.rectangle-white--small {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 260px;
  height: 260px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-color: gray;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}

.sub-section-wrapper-5 {
  position: relative;
  margin-top: 164px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  padding-top: 240px;
  width: 100%;
}

.wrapper5-text_box {
  width: 75%;
}

.wrapper5-img_box {
  justify-self: end;
  align-self: center;
}

.sub-section-wrapper-5 p {
  font-family: nunito-sans, sans-serif;
  font-size: 41.9px;
  padding-bottom: 42px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

/* HOW SECTION */

.how {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.sub-section-how {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.how h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: nunito-sans, sans-serif;
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}

.red-highlight {
  position: relative;
  left: -25vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #c81818;
}

.diagram-section-wrapper {
  position: relative;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  padding-top: 240px;
  padding-bottom: 600px;

  width: 100%;
}

.text-wrapper {
  grid-column: 1/2;
  width: 100%;
}

.text-wrapper--sub1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: 24px;
  width: 100%;
}
.text-wrapper--sub2 {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.diagram-wrapper {
  place-self: center;

  grid-column: 2/3;
}

.diagram-section-wrapper .red-line {
  height: 2px;
  background-color: #c91818;
  border: none;
  width: 100%;
}

.text-wrapper-sub3 p {
  font-family: nunito-sans, sans-serif;
  font-size: 2.59rem;
  padding-bottom: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  width: 100%;
}

.text1 {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  font-family: nunito-sans, sans-serif;
  font-size: 6.777rem;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 16px;
}
.text2 {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;

  font-family: nunito-sans, sans-serif;
  font-size: 10.966rem;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  color: #fce3e3;
  z-index: -2;
}

.carousel-wrapper {
  grid-column: 1/3;
  place-self: center;
  display: flex;
  flex-direction: row;
}

/* PROJECTS SECTION */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.projects .sub-section-projects {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.red-highlight--projects {
  position: relative;
  left: -40vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #c81818;
}

.projects h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: nunito-sans, sans-serif;
  font-size: 6.78rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}

.projects .sub-section-wrapper-2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects .sub-section-wrapper-2::after {
  position: absolute;

  content: "";
  background-color: #fff6f6;
  z-index: -10;

  height: 70%;
  top: 55%;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  clip-path: polygon(0 40%, 100% 0%, 100% 60%, 0% 100%);
}

.sub-section-wrapper-2 h3 {
  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;

  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.sub-section-wrapper-2 p {
  font-family: nunito-sans, sans-serif;
  font-size: 2.59rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #070101;
  width: 85%;
  margin-top: 18px;
}
.sub-section-wrapper-2 hr {
  height: 75%;
}

.projects_flex {
  display: flex;
  height: 100%;
}
.projects_flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 42px;
}

.projects_phone {
  width: 82.5%;
}

.projects_button {
  position: relative;
  margin-left: 16px;
  width: 270px;
  height: 100px;
  background-image: linear-gradient(to bottom, #000, #000d30);

  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  font-weight: 100;
  border-style: none;
}

.projects_button::after {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: -1;

  width: 270px;
  height: 100px;
  top: 16px;
  right: 16px;
  border: solid 1px #979797;
}

.projects_button a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

/* Footer */

.footer {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* CONTACT */

.contact {
  display: grid;

  margin-top: 320px;
  grid-template-columns: 1fr;
  place-items: center;
}

.contact .sub-section-contact {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.sub-section-contact h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: nunito-sans, sans-serif;
  font-size: 6.77rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: black;
  z-index: 10;
}

.red-highlight--contact {
  position: relative;
  left: -25vh;
  width: 180px;
  height: 180px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #c81818;
}

.contact_img_wrapper {
  display: grid;
  grid-template-columns: 5fr 7fr;
  margin-top: 128px;
  z-index: 30;
}
.contact_cta_wrapper {
  position: relative;
  display: grid;
  margin-top: 110px;
  z-index: 10;
  grid-template-columns: 3fr 9fr;
  background-color: #c81818;
}

.contact_cta_wrapper::after {
  position: absolute;

  content: "";

  background-color: #c81818;

  z-index: -20;
  height: 100%;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.contact_cta_wrapper h2 {
  padding: 260px 100px;
  font-family: nunito-sans, sans-serif;

  font-size: 6.77rem;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: white;
}

.contact_cta_button {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 270px;
  height: 100px;
  background-image: linear-gradient(to bottom, #000, #000d30);

  font-family: nunito-sans, sans-serif;
  font-size: 4.19rem;
  font-weight: 100;
  border-style: none;
}

.contact_cta_button::after {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -10;

  width: 270px;
  height: 100px;
  top: 16px;
  right: 16px;
}

.contact_cta_button a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}
