@use "base";
@use "header";
@use "hero";
@import "base";

/* main container + header */

.spacer {
  height: 68px;
}

.container {
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
}

/* Hero section  */

/* What section  */

.what {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  &__intro {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: $margin-l;
    margin-top: $margin-l;
    @media only screen and (min-width: 900px) {
      margin-bottom: $margin-l;
    }
  }

  &__heading-2 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 10;
  }

  

  // &__heading-2::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: -2.4rem;
  //   width: 4px;
  //   height: 100%;
  //   background-color: #c91818;
  // }

  &__red-box-highlight {
    position: relative;
    left: -15vh;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.what-section-1 {
  width: 100%;
  position: relative;
  margin-bottom: $margin-l;

  @media only screen and (min-width: 550px) {
    margin-top: $margin-xl;
    margin-bottom: $margin-xl;
  }

  &__heading-3 {
    // padding-bottom: 48px;
    @media only screen and (min-width: 900px) {
      grid-column: 2/3;
    }
  }

  &__paragraph-1 {
    max-width: 75%;
    margin-inline: auto;
    @media only screen and (min-width: 900px) {
      grid-column: 2/3;
      max-width: 100%;
    }
  }
  &__paragraph-2 {
    max-width: 75%;
    margin-inline: auto;
    @media only screen and (min-width: 900px) {
      grid-column: 2/3;
      max-width: 100%;
    }
  }
  &__content-wrapper {
    display: block;
    position: relative;
    // clip-path: polygon(80 20 0 100 100 0 20 80);   ?
    margin: 0 auto;
    text-align: center;

    max-width: 1440px;
    @media only screen and (min-width: 900px) {
      display: grid;

      grid-template-columns: 7fr 5fr;
      grid-template-rows: 1fr;
      column-gap: 20px;
      text-align: left;
    }
  }

  &__computer {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: $margin-s;

    @media only screen and (min-width: 900px) {
      grid-column: 1/2;
      grid-row: 1/4;
      display: none;
      justify-self: start;
    }
  }

  &__computer--outside {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: $margin-s;
    display: none;

    @media only screen and (min-width: 900px) {
      grid-column: 1/2;
      grid-row: 1/4;
      display: block;
    }
  }

  &__text-wrapper {
    // flex-direction: row;
    // padding-left: 3.2rem;
    // @media only screen and (min-width: 900px) {
    //   display: grid;
    //   grid-template-columns: 7fr 5fr;
    // }
    justify-self: end;
  }

  &__text-wrapper-sub {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // // padding-left: 46px;
  }
}

.what-section-1::after {
  position: absolute;
  z-index: -10;
  top: 35%;
  left: 0;
  content: "";
  width: 100%;
  height: 85%;
  background-color: #fff6f6;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);

  @media only screen and (min-width: 900px) {
    clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
    // height: 165%;
    // top: -41%;

    height: 180%;
    top: -50%;
  }

  @media only screen and (min-width: 1060px) {
    clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);
    height: 200%;
    top: -55%;
  }
}

.what-section-2 {
  width: 100%;
  margin-bottom: $margin-m;

  @media only screen and (min-width: 900px) {
    margin-bottom: $margin-xl;
  }

  // @media only screen and (min-width: 1100px) {
  //   margin-bottom: 56.8rem;
  // }

  // @media only screen and (min-width: 1300px) {
  //   margin-bottom: 62.8rem;
  // }

  &__content-wrapper {
    margin: 0 auto;
    max-width: 1440px;

    text-align: center;

    @media only screen and (min-width: 900px) {
      margin-top: 28rem;
      display: grid;
      column-gap: 20px;
      // place-items: center;
      grid-template-columns: 5fr 7fr;
      column-gap: 20px;
      text-align: left;
    }
  }

  &__text-wrapper {
    // display: flex;
    // flex-direction: row;
  }

  &__text-wrapper-sub {
    display: flex;
    flex-direction: column;
  }

  &__paragraph {
    // padding-right: 54px;
  }
}

.img-wrapper--outside {
  display: none;

  @media only screen and (min-width: 900px) {
    display: block;
    position: relative;
    max-width: 90%;
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: $margin-s;
  }

  @media only screen and (min-width: 1100px) {
    max-width: 85%;
  }

  @media only screen and (min-width: 1300px) {
    max-width: 80%;
  }

  @media only screen and (min-width: 1400px) {
    max-width: 70%;
  }
}

.img-wrapper {
  display: grid;
  max-width: 80%;
  margin-inline: auto;
  grid: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: auto;
  height: auto;
  position: relative;
  margin-bottom: $margin-s;
  // bottom: 88px;
  margin-top: 30%;

  @media only screen and (min-width: 900px) {
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: start;
    display: none;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__img {
    max-width: 100%;
    
    
    
  }

  &__img--col-1 {
    position: relative;
    top: 0;
  }
  &__img--col-2 {
    position: relative;
    // top: -15%;
  }
  &__img--col-3 {
    position: relative;
    // top: -30%;
  }

  
}

.what-section-3 {
  width: 100%;

  position: relative;

  margin-bottom: $margin-l;

  @media only screen and (min-width: 900px) {
    margin-bottom: $margin-xl;
  }

  &__content-wrapper {
    display: grid;

    column-gap: 20px;
    margin: 0 auto;
    // padding-top: 25%;
    padding-bottom: 10%;
    width: 100%;
    text-align: center;

    @media only screen and (min-width: 900px) {
      grid-template-columns: 7fr 5fr;
      text-align: left;
    }
  }

  &__phone {
    position: relative;

    left: 4%;
    margin-inline: auto;
    margin-bottom: $margin-s;
    max-width: 80%;

    @media only screen and (min-width: 900px) {
      grid-column: 1/2;
      grid-row: 1/3;
      max-width: 100%;
      display: none;
    }
  }

  &__phone--outside {
    display: none;

    @media only screen and (min-width: 900px) {
      display: block;
      position: relative;
      // top: -75%;

      max-width: 90%;
      grid-column: 1/2;
      grid-row: 1/3;
    }
  }

  &__text-wrapper {
    grid-row: 2/3;
  }

  &__text-wrapper-sub {
    display: flex;
    flex-direction: column;
  }
}

.what-section-3::after {
  position: absolute;

  content: "";
  position: absolute;
  z-index: -10;
  top: 48%;
  left: 0;
  content: "";
  width: 100%;
  height: 60%;
  background-color: #fff6f6;

  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 80%);

  @media only screen and (min-width: 900px) {
    height: 125%;
    top: -15%;
  }

  @media only screen and (min-width: 1300px) {
    height: 75%;
    top: 25%;
  }

  @media only screen and (min-width: 1400px) {
    height: 60%;
    top: 36%;
  }
  @media only screen and (min-width: 1450px) {
    height: 55%;
    top: 42%;
  }

  // @media only screen and (min-width: 1600px) {
  // }
}

.what-section-4 {
  width: 100%;

  margin-bottom: $margin-l;
  &__content-wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    display: grid;

    @media only screen and (min-width: 900px) {
      position: relative;
      margin-bottom: $margin-xl;
      display: grid;
      grid-template-columns: 7fr 5fr;
      column-gap: 20px;
      text-align: left;
      width: 100%;
    }
  }

  &__rectangle-wrapper {
    position: relative;
    display: grid;
    margin-inline: auto;
    grid-template-columns: 1fr;
    place-items: center;
    max-width: 100%;
    place-self: center;
    width: 80%;
    margin-bottom: $margin-s;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @media only screen and (min-width: 900px) {
      display: none;
    }
  }

  &__rectangle-wrapper--outside {
    display: none;
    @media only screen and (min-width: 900px) {
      position: relative;
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;
      grid-template-columns: 1fr;
      place-items: center;
     
      max-width: 100%;
      place-self: center;
      width: 80%;
      margin-bottom: $margin-s;
    }
  }

  &__rectangle {
    width: 130px;
    height: 130px;
    grid-column: 1/2;
    grid-row: 1/2;

    @media only screen and (min-width: 900px) {
      width: 260px;
      height: 260px;
    }

    &--red {
      position: absolute;
      top: -20%;
      // right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      // justify-self: end;
      background-color: #c91818;

      z-index: 10;

      @media only screen and (min-width: 900px) {
        top: -40%;
        // right: 0;
      }
    }

    &--black {
      background-color: black;
      // justify-self: center;
      z-index: 5;
    }

    &--white {
      position: absolute;
      top: 20%;
      // left: 0;
      // justify-self: start;
      background-color: white;
      border: solid;
      border-width: 2px;
      border-color: gray;

      z-index: 1;

      @media only screen and (min-width: 900px) {
        top: 40%;
      }
    }
  }
  &__circle-main {
    width: 50%;
  }
  &__text-wrapper {
    // display: flex;
    // flex-direction: row;
    // height: fit-content;
    grid-column: 2/3;
  }

  &__text-wrapper-sub {
    display: flex;
    flex-direction: column;
  }
}

.what-section-5 {
  &__content-wrapper {
    position: relative;
    margin-bottom: $margin-m;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-inline: auto;
    width: 100%;
  }

  &__text-wrapper {
    width: 75%;
  }

  &__img-wrapper {
    justify-self: end;
    align-self: center;
  }
}

@media only screen and (max-width: 900px) {
  .what-section-1 {
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .what-section-2 {
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .what-section-3 {
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .what-section-4 {
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .what-section-5 {
    &__content-wrapper {
      grid-template-columns: 1fr;
    }
  }
}
